/* ====== FONTS ======= */
@font-face {
	font-family: 'Oswald';
	src: url('../fonts/Oswald-Regular.eot');
	src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Oswald-Regular.woff') format('woff'), 
		url('../fonts/Oswald-Regular.ttf') format('truetype'), 
		url('../fonts/Oswald-Regular.svg#open_sansregular') format('svg');
	font-weight: 400;
	font-style: normal;
}


@font-face {
	font-family: 'Oswald Bold';
	src: url('../fonts/Oswald-Bold.eot');
	src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'), 
		url('../fonts/Oswald-Bold.woff') format('woff'), 
		url('../fonts/Oswald-Bold.ttf') format('truetype'), 
		url('../fonts/Oswald-Bold.svg#open_sansbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

/*FIX FONT FOR GOOGLE CHROME ON WINDOWS*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Oswald Bold';
		src: url('../fonts/Oswald-Bold.svg#open_sansbold') format('svg');
        font-weight: 700;
        font-style: normal;}
}


@font-face {
  font-family: 'Oswald-Light';
  src: url('../fonts/Oswald-Light.eot');
  src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),  
  	url('../fonts/Oswald-Light.woff') format('woff'), 
  	url('../fonts/Oswald-Light.ttf')  format('truetype'), 
  	url('../fonts/Oswald-Light.svg#Oswald-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
